@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Ubuntu Medium - Weight: 600 */
@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Ubuntu Bold - Weight: bold */
@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  background-color: hsl(231, 100%, 99%);
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 375px) {
  body {
    font-size: 14px;
  }
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 768px) {
  body {
    display: grid;
    place-items: center;
  }
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
